#date_heure {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin: 0;
  color: white;
  animation-name: date_heure;
  animation-duration: 2s;
}
.bPopupModal{
display: none;
}

.popUp{
	padding:40px 20px;
  background-image:linear-gradient(#555, #000);
  border-radius: 20px;
  box-shadow: 0 0 35px 15px #999;
}
.innerLink {
  cursor: pointer;
}

@keyframes date_heure {
  from { color: #161616; }
  to { color: white; }
}

.thumbnail{
	padding:5%;
	text-align:center;
  background-image:linear-gradient(white, #FAFAFA);
}
.thumbnail:hover{
	transition: ease-in-out 0.2s;
	transition-duration: all .5;
	opacity: 0.6;
}

#main_container [class^="icon-"], [class*=" icon-"] {
	text-decoration:none;
	font-size:120px;
	color:#282828;
}

.podium{
  width:50%;
  margin-right:9%;
  min-height: 350px;
  position:relative;
  display: inline-block;
  /*
  background: url("../img/podium.png");
  background-size: 100% 60%;
  background-position: center;
  background-repeat: no-repeat;*/
}

#pod{
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

.photo_pod{
  display:inline-block;
  width:33%;
  padding-left: 7%;
}


#deux{
  padding-top: 5%;
  float:left;
}

#trois{
  padding-top: 10%;
  float: right;

}
.img-circle{
  width:90%;
}

form{
  width:40%;
  /*float: right;
  text-align: center;*/
}

.btn-group {
  text-align: left !important;
}

form h3 {
  margin-bottom: 24px;
}

form p{
  font-size:40px;
  display: inline-block;
  font-family: 'Aladin', cursive;
}

.bt{
  width:100%;
  margin-top:5%;
  display: block;
  font-size:50px;
  font-family: 'Aladin', cursive;
}





/* ---------------------------- AGENDA ---------------------------*/

.highlight{
	color:blue;
}

.angucomplete-dropdown {
    position: absolute;
    background-color: white;
    width:95%;
    z-index: 99999;
    overflow-y: auto;
    max-height: 150px; // your preference
    text-align: left !important;
}










/* ---------------------------- CHATBOX ---------------------------*/

#chatbox {
  display:table;
  position:fixed;
  height: 300px;
  width: 300px;
  right: 20px;
  bottom: 0px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index:999;
}

#chatboxHeader {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 30px;
  top: 0;
  text-align:center;
  background-color: #161616;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

#chatboxHeader p {
  line-height: 30px;
}

#chatboxTextarea {
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 28px 5px 30px 5px;
  border: 2px solid #161616;
  border-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  table-layout: fixed;
  overflow: hidden;
}

#chatboxTextarea div {
  display: table-cell;
  position: absolute;
  height: calc(100% - 60px);
  left: 5px;
  right: -15px;
  overflow-y: scroll;
}

.other, .self {
  border-radius; 5px;
  word-wrap: break-word;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px 5px 0;
}

.other {
  background-color: #DDD;
  text-align: left;
}

.self {
  background-color: #424242;
  text-align: right;
  color: white;
}

.timestamp {
  font-size: 75%;
  text-align: center;
  color: grey;
  margin: 10px 0 10px 0;
}

#chatboxFooter {
  position:absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  padding-top: 5px;
  background-color: white;
  border-left: 2px solid #161616;
  border-right: 2px solid #161616;
}
#chatboxInput {
  width: 65%;
}

#chatboxSubmit {
  font-size: .71em;
  width: 30%;
}

#chatboxSubmit:hover {
  cursor: pointer;
}

/* ----------------------------- MEDIA ----------------------------*/

@media all and (max-width: 1200px){
	.podium{
		min-height: 700px;
	}
}

@media all and (max-width:1000px){
	.podium{
		min-height: 550px;
	}
}

@media all and (max-width: 700px){
	.podium{
		min-height: 450px;
	}
}

@media all and (max-width: 480px){
	.podium{
		min-height: 300px;
	}
}

@media all and (max-width: 350px){
	.podium{
		min-height: 220px;
	}
}
