<button type="button" modal-target="addtaskform" class="btn btn-primary bPopupModal-src pull-right">Ajouter une tâche</button><br><br>

<table class="table" >
	<thead>
		<tr class="active">
			<td class="col-md-2">Echéance</td>
			<td class="col-md-2">Date</td>
			<td class="col-md-3">Titre</td>
			<td>Description</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="task in tasks" class="{{task.worklevel}}">
			<td>{{task.timeleft}}</td>
			<td>{{task.deadline}}</td>
			<td>{{task.title}}</td>
			<td>{{task.description}}</td>
		</tr>
	</tbody>
</table>

<form id="addtaskform" novalidate  class="bPopupModal popUp form-horizontal" >
  	<h3 style="color:white;">Ajouter une tâche</h3>
  <div class="form-group">
    <label for="titre" class="col-sm-3 control-label" style="color:white;">Titre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="inputTitle" placeholder="Titre" ng-model="task.title" required>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label" style="color:white;">Description</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="inputDescription" ng-model="task.description" placeholder="Description de la tâche" required>
    </div>
  </div>
	<div class="form-group">
		<label for="echeance" class="col-sm-3 control-label" style="color:white;">Echéance</label>
		<div class="col-sm-9">
			<input type="date" class="form-control" name="inputDate" ng-model="task.deadline" required>
		</div>
	</div>
	<div class="form-group">
		<label for="niveau" class="col-sm-3 control-label" style="color:white;" >Niveau de travail</label>
		<div class="col-sm-9">
			<div class="btn-group">
				<label class="btn btn-default active">
					<input type="radio" name="inputNiveau" value="1" ng-model="task.worklevel" 	required/> Faible
				</label>
				<label class="btn btn-default">
					<input type="radio" name="inputNiveau" value="2" ng-model="task.worklevel" /> Moyen
				</label>
				<label class="btn btn-default">
					<input type="radio" name="inputNiveau" value="3" ng-model="task.worklevel" /> Important
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="group" class="col-sm-3 control-label" style="color:white;">Groupe(s)</label>
		<div class="col-sm-9">
			<div class="btn-group">
				<label class="btn btn-default active">
					<input type="radio" name="inputGroup" ng-model="task.group" value="1" checked="checked" required/> Les deux
				</label>
				<label class="btn btn-default">
					<input type="radio" name="inputGroup" ng-model="task.group" value="2" /> Info
				</label>
				<label class="btn btn-default">
					<input type="radio" name="inputGroup" ng-model="task.group" value="3" /> RT
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
    <label for="Cours" class="col-sm-3 control-label" style="color:white;">Cours</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="inputCours" ng-model="task.UID" placeholder="Cours" >
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button name="addtask" type="submit" ng-click="addTask(task)" class="btn btn-primary">Ajouter</button>
    </div>
  </div>
  </form>
